.suggestion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.suggestion {
  font-family: 'Roboto';
  font-size: 12px;
}
.arrow-button {
  border: none;
  width: 23px;
  height: 21px;
  background-color: transparent;
  padding-left: 22px;
}
.arrow {
  width: 12px;
}
